/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

    
}


.searchBar {
      -fx-background-color:white;
    -fx-font-size: 20;
    -fx-font-weight:bold;
    -fx-border:solid inside;
    -fx-border-width:0.2;
    -fx-border-radius:0.2em;
    -fx-padding :10 10 10 10 ;
}

.topBar{
    
    -fx-margin-top:5px;
    -fx-min-height:100px;
    -fx-border:solid inside;
    -fx-border-width:0.5;
    
    -fx-background-color:white
}




.table-view {
-fx-margin-top:15px;
    -fx-padding: 50 50 50 50;
       -fx-control-inner-background-alt: -fx-control-inner-background ;
       -fx-border:solid outside;
       
}

.table-view .column-header,
.table-view .column-header-background .filler {
    
    
    -fx-margin-bottom:50px;
    
}


.table-view .column-header .label{
    -fx-text-fill: white;
    -fx-font-weight: bold; 
    -fx-alignment: CENTER_LEFT;
    -fx-font-size:24;
    -fx-background-color:orange;
    
}


.table-view .table-row-cell {
        -fx-min-height:60px;
        -fx-alignment: CENTER;
        -fx-margin-top:10px;
        -fx-background-color:white;
        -fx-text-align: CENTER;
        -fx-border:outside;
        -fx-border-width:10 0 0 0; -fx-border-color:white;
    
        }

.table-view .cell{
    -fx-cell-size: 35;
    -fx-text-fill: black;
    -fx-font-size:20;
                }


.table-row-cell:selected {
    -fx-background-color: orange; 

-fx-text-fill:white;

}

.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow, 
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}





/* scroll bar starts here */






/* The increment and decrement button CSS class of scrollbar */


.table-view .increment-button ,.table-view .decrement-button {


    -fx-background-color:transparent;


    -fx-background-radius: 2em;






}





